/* src/components/RecipeCard.module.css */
.recipeCard {
    background: linear-gradient(to bottom, #3D0E40, #8F2150); /* Gradient from deep purple to dark pink */
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 1.5rem;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.recipeCard:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.recipeImage {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
    margin: -1.5rem -1.5rem 1rem -1.5rem;
}

.recipeTitle {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
    color: #D77063; /* Bright pink color */
}

.recipeInfo {
    font-size: 0.9rem;
    color: #F8877F; /* Coral color for better contrast */
    margin-bottom: 0.5rem;
}

.recipeLink {
    margin-top: auto;
    display: inline-block;
    background-color: #F15864; /* Bright pink color */
    color: #3D0E40; /* Deep purple for text */
    padding: 0.5rem 1rem;
    border-radius: 50px;
    text-decoration: none;
    text-align: center;
    transition: all 0.3s ease;
}

.recipeLink:hover {
    background-color: #F8877F; /* Coral color on hover */
    color: #3D0E40; /* Deep purple text on hover */
}